code {
    border-radius: 20px!important;
}

:root > * {
    --md-text-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --md-code-font: "Menlo", 'SF Mono', "Monaco", "Roboto Mono", "Consolas", "Liberation Mono", "Courier New", monospace;
    --md-primary-fg-color:#366355;
    --md-accent-fg-color: #72D1B2;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
    font-weight: 500;
}

.md-nav__source {
    background-color: var(--md-primary-fg-color);
}
